* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.wrapper {
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0 auto;
  padding: 0 3rem;
  background-image: url(./assets/home.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

/* ancients cards */

.ancients-container {
  display: flex;
  width: 100%;
  max-height: 880px;
  background: rgba(0, 0, 0, 0.445);
  margin-right: 25px;
  border-radius: 0.5rem;
  justify-content: center;
  align-self: center;
  box-shadow: 0px 0px 52px 14px rgba(255, 255, 255, 0.308);
}

.ancients-wrapper {
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

.ancients-wrapper1 {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 2rem;
}

.ancient-card {
  display: flex;
  width: 210px;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.5rem;
  margin: auto;
  cursor: pointer;
}

.active {
  border: 1px solid rgba(255, 0, 0, 0.356);
  box-shadow: 1px 1px 25px 12px rgba(255, 0, 0, 0.63);
}

/* difficulty level */

.level-container {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  max-height: 860px;
  gap: 1rem;

  background: rgba(0, 0, 0, 0.445);
  border-radius: 0.5rem;
  box-shadow: 5px 1px 5px rgba(0, 0, 0, 0.3);
  padding: 0 4rem;
}

.level-text {
  font-size: 3rem;
  color: rgb(255, 255, 255);
}
/* .very-easy, .easy, .medium, .difficult, .hard */

.very-easy,
.easy,
.medium,
.difficult,
.hard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto;

  width: 200px;
  height: 80px;
  border-radius: 0.5rem;

  cursor: pointer;
  font-size: 1.5rem;
  background-color: salmon;
  color: rgb(255, 255, 255);

  box-shadow: 1px 1px 25px 1px rgba(248, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: rgb(152, 84, 240);
    color: rgb(255, 255, 255);
  }
}

/* generate deck */

.deck-container {
  max-width: 840px;
  max-height: 1080px;
  background: rgba(0, 0, 0, 0.445);
  margin-left: 25px;
  border-radius: 0.5rem;
  box-shadow: 5px 1px 5px rgba(0, 0, 0, 0.3);
  padding: 0 3rem;
}

.card-headline {
  font-size: 2rem;
  color: white;
}

.deck,
.last-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 310px;
  margin: 0 auto;

  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
}

.last-card {
  z-index: 1;
}

.deck {
  cursor: pointer;
  z-index: 3;
}

.deck-wrapper {
  display: flex;
  transform: translateY(30%);
}

.hidden {
  display: none;
}

.stage-container {
  width: 300px;
  height: 90px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stage-text {
  font-size: 1.5rem;
  color: white;
}

.dot {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dots-container {
  width: 150px;
  height: 50px;
  gap: 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.green1,
.green2,
.green3 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: green;
  box-shadow: 0px 0px 21px 2px rgba(0, 0, 0, 0.274);
}

.blue1,
.blue2,
.blue3 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: blue;
  box-shadow: 0px 0px 21px 2px rgba(0, 0, 0, 0.274);
}

.brown1,
.brown2,
.brown3 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: brown;
  box-shadow: 0px 0px 21px 2px rgba(0, 0, 0, 0.274);
}

.refresh {
  display: flex;
  justify-content: center;
  width: 150px;
  height: 50px;
  margin: 0 auto;

  font-size: 1.5rem;
  align-items: center;

  border-radius: 5px;
  border: none;
  transform: translateY(850px);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.274);
}

.refresh:hover {
  background-color: navy;
  color: white;
  border: none;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

p {
  padding: 1rem;
}
